<%= render "shared/header" %>

<div class="usertitle"><h2>会員情報変更</h2></div>

<div class="userform userforms">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form">
    <div class="name">
      <div class="nickname">
        <div class="nickname_mini">
          <%= f.label :nickname, "ニックネーム" %><em>(7文字以内)</em><br />
        </div>
        <div class="hissu">
          <p>必須</p>
        </div>
      </div>
      <div class="nickname_back">
        <div class="nickname_form">
          <%= f.text_field :nickname, class: :user_name %>
        </div>
      </div>
    </div>

    <div class="email">
      <div class="emailaddress">
        <div class="emailaddress_mini">
          <%= f.label :email, "メールアドレス"%><br />
        </div>
        <div class="hissu">
          <p>必須</p>
        </div>
      </div>
      <div class="email_back">
        <div class="email_form">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :user_email %>
        </div>
      </div>
    </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="password_body">
      <div class="password">
        <div class="password_mini">
        <%= f.label :password, "新しいパスワード" %> <i>（変更しない場合は不要）</i><br />
        </div>
      </div>
      <div class="password_back">
        <div class="password_form">
          <%= f.password_field :password, autocomplete: "new-password",class: :user_password %>
          <% if @minimum_password_length %>
            <br />
            <em><% @minimum_password_length %> パスワード(6文字以上)</em>
          <% end %>
        </div>
      </div>
  </div>

    <div class="confirmation_body">
      <div class="confirmation">
        <div class="confirmation_mini">
          <%= f.label :password_confirmation,"新しいパスワードの確認" %><i>（変更しない場合は不要）</i><br />
        </div>
      </div>
      <div class="confirmation_back">
        <div class="confirmation_form">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: :user_confirmation%>
        </div>
      </div>
    </div>

    <div class="password_body">
      <div class="password">
        <div class="password_mini">
          <%= f.label :current_password,"現在のパスワード" %> <i>(情報変更時必須)</i><br />
        </div>
        <div class="hissu">
          <p>必須</p>
        </div>
      </div>
      <div class="password_back">
        <div class="password_form">
          <%= f.password_field :current_password, autocomplete: "current-password",class: :user_password  %>
        </div>
      </div>
    </div>
  </div>

    <div class="form_btn_body">
    <%= f.submit "更新",class: :form_bt %>
  </div>
<% end %>
</div>

<%= render "shared/footer" %>
