<%= render "shared/header" %>


<%= link_to image_tag("first_views.png", class:"recipe-icon"), "/" %>
  <div class="new_recipe_body">
    <div class="new_recipe">
      <h2>・・・・新着レシピ・・・・</h2>
      <%= link_to "レシピを投稿する","#", class: :new_recipe_btn%>
    </div>
    <div class="recipe_box">
      <div class="recipe_lists">
          <%#  @items.each do |item| %>
        <div class='recipe-img-content'>
          <%#= image_tag "#", class: "recipe-img"%>
        </div>
        <div class='recipe-info'>
          <h3 class='item-name'>
              <%="hoge.nickname" %>
          </h3>
          <div class="title">
            <%="hoge.title" %>
          </div>
          <div class='day_iine'>
            <div class='day'>
              <%="hoge.create-at" %>
            </div>
            <div class='iine'>
              <%= "いいね" %>
            </div>
          </div>
        </div>
      </div>

      <!-- 複製 -->
      <div class="recipe_lists">
          <%#  @items.each do |item| %>
        <div class='recipe-img-content'>
          <%#= image_tag "#", class: "recipe-img"%>
        </div>
        <div class='recipe-info'>
          <h3 class='item-name'>
              <%="hoge.nickname" %>
          </h3>
          <div class="title">
            <%="hoge.title" %>
          </div>
          <div class='day_iine'>
            <div class='day'>
              <%="hoge.create-at" %>
            </div>
            <div class='iine'>
              <%= "いいね" %>
            </div>
          </div>
        </div>
      </div>
      <!-- 複製 -->

      <!-- 複製 -->
      <div class="recipe_lists">
          <%#  @items.each do |item| %>
        <div class='recipe-img-content'>
          <%#= image_tag "#", class: "recipe-img"%>
        </div>
        <div class='recipe-info'>
          <h3 class='item-name'>
              <%="hoge.nickname" %>
          </h3>
          <div class="title">
            <%="hoge.title" %>
          </div>
          <div class='day_iine'>
            <div class='day'>
              <%="hoge.create-at" %>
            </div>
            <div class='iine'>
              <%= "いいね" %>
            </div>
          </div>
        </div>
      </div>
      <!-- 複製 -->

      <!-- 複製 -->
      <div class="recipe_lists">
          <%#  @items.each do |item| %>
        <div class='recipe-img-content'>
          <%#= image_tag "#", class: "recipe-img"%>
        </div>
        <div class='recipe-info'>
          <h3 class='item-name'>
              <%="hoge.nickname" %>
          </h3>
          <div class="title">
            <%="hoge.title" %>
          </div>
          <div class='day_iine'>
            <div class='day'>
              <%="hoge.create-at" %>
            </div>
            <div class='iine'>
              <%= "いいね" %>
            </div>
          </div>
        </div>
      </div>
      <!-- 複製 -->

      <!-- 複製 -->
      <div class="recipe_lists">
          <%#  @items.each do |item| %>
        <div class='recipe-img-content'>
          <%#= image_tag "#", class: "recipe-img"%>
        </div>
        <div class='recipe-info'>
          <h3 class='item-name'>
              <%="hoge.nickname" %>
          </h3>
          <div class="title">
            <%="hoge.title" %>
          </div>
          <div class='day_iine'>
            <div class='day'>
              <%="hoge.create-at" %>
            </div>
            <div class='iine'>
              <%= "いいね" %>
            </div>
          </div>
        </div>
      </div>
      <!-- 複製 -->

      <!-- 複製 -->
      <div class="recipe_lists">
          <%#  @items.each do |item| %>
        <div class='recipe-img-content'>
          <%#= image_tag "#", class: "recipe-img"%>
        </div>
        <div class='recipe-info'>
          <h3 class='item-name'>
              <%="hoge.nickname" %>
          </h3>
          <div class="title">
            <%="hoge.title" %>
          </div>
          <div class='day_iine'>
            <div class='day'>
              <%="hoge.create-at" %>
            </div>
            <div class='iine'>
              <%= "いいね" %>
            </div>
          </div>
        </div>
      </div>
      <!-- 複製 -->
    </div>
  </div>
