<%= render "shared/header" %>

<div class="new_recipe_body">
  <div class="new_recipe">
    <h2>・・・・検索結果・・・・</h2>
  </div>
    <% if user_signed_in? %>
      <div class="new_body">
    <%= link_to "レシピを投稿する",new_recipe_path, class: :new_recipe_btn %>
      </div>
    <%end%>
  <div class="recipe_box">
    <% @recipes.each do |recipe| %>
      <div class="recipe_lists">
        <%= link_to recipe_path(recipe.id), method: :get do %>
          <div class='recipe-img-content'>
            <%= image_tag recipe.image, class: "recipe-img" %>
          </div>
          <div class='recipe-info'>
            <h3 class='item-name'>
              <%= recipe.user.nickname %>
            </h3>
            <div class="title">
              <%= recipe.title %>
            </div>
            <div class='day_iine'>
              <div class='day'>
                <%= l recipe.created_at %>
              </div>
          <% end %>
              <div class='iine'>
                <% if user_signed_in? %>
                  <% if current_user.liked_by?(recipe.id) %>
                    <%= link_to destroy_like_path(recipe), method: :delete do %>
                      <%= image_tag "heart.png", class:"iine_im" %>
                    <% end %>
                  <% else %>
                    <%= link_to create_like_path(recipe), method: :post  do %>
                      <%= image_tag "hearthi.png", class:"iine_im" %>
                    <% end %>
                  <% end %>
                  <%= recipe.likes.count %>
                <% else %>
                  <%= image_tag "heart.png", class:"iine_im" %>
                    <%= recipe.likes.count %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
