<%= render "shared/header" %>

<div class="show_body">
  <div class="shw_d">
    <div class="sho_ti">
      <div class="sho_tit">
        <%= @recipe.title  %>
      </div>
      <div class="sho_day">
        <%= l @recipe.created_at%>
      </div>
    </div>
    <div class="sho_im">
      <%= image_tag @recipe.image ,class: :img %>
    </div>
    <div class="sho_bo">
      <div class="sho_aikon">
        <div class="create">
          <P>レシピの作り方</P>
        </div>
      </div>
      <div class="sho_bos">
        <%= @recipe.body %>
      </div>
    </div>
    <div class="sho_pr">
      <div class="sho_aikon">
        <div class="create">
          <P>レシピにかかった金額</p>
        </div>
      </div>
      <div class="sho_prs">
        <%= @recipe.price%><span>円</span>
      </div>
    </div>
    <div class="shw_user_name">
      <%= @recipe.user.nickname %>
    </div>
    <div class="sho_syes">
      <div class="sho_sye">
        <h5>この記事をシェアする</h5>
      </div>
      <div class="sye_iine">
        <% if user_signed_in? %>
          <% if current_user.liked_by?(@recipe.id) %>
            <%= link_to destroy_like_path(@recipe), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to create_like_path(@recipe), method: :post  do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= @recipe.likes.count %>
        <% else %>
          <i class="fas fa-heart"></i>
            <%= @recipe.likes.count %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="hens_des">
  <% if user_signed_in? %>
    <% if current_user.id == @recipe.user_id %>
      <div class="hens_body">
        <div class="hens">
          <%= link_to 'レシピを編集', edit_recipe_path(@recipe.id), method: :get %>
        </div>
        <div class="des">
          <%= link_to '削除', recipe_path(@recipe.id), method: :delete %>
      </div>
    <% else %>
    <% end %>
  <% else %>
  <% end %>
</div>
