<%= render "shared/header" %>

<div class="show_body">
  <div class="shw_d">
    <div class="sho_ti">
      <div class="sho_tit">
        <%= @recipe.title  %>
      </div>
      <div class="sho_day">
        <%= l @recipe.created_at%>
      </div>
    </div>
    <div class="sho_im">
      <%= image_tag @recipe.image ,class: :img %>
    </div>
    <div class="sho_bo">
    <div class="sho_aikon">
        <div class="create">
          <P>材料</P>
        </div>
      </div>
      <div class="sho_bos">
        <%= @recipe.material %>
      </div>
      <div class="sho_aikon">
        <div class="create">
          <P>レシピの作り方</P>
        </div>
      </div>
      <div class="sho_bos">
        <%= @recipe.body %>
      </div>
    </div>
    <div class="sho_pr">
      <div class="sho_aikon">
        <div class="create">
          <P>レシピにかかった金額</p>
        </div>
      </div>
      <div class="sho_prs">
        <%= @recipe.price%><span>円</span>
      </div>
    </div>
    <div class="shw_user_name">
        <%= link_to @recipe.user.nickname, "/users/#{@recipe.user_id}"  %>
    </div>
    <div class="sho_syes">
      <div class="sho_sye">
        <h5>この記事をシェアする</h5>
      </div>
      <div class="sye_iine">
        <% if user_signed_in? %>
          <div id="recipe_<%= @recipe.id %>">
            <%= render 'recipe', recipe: @recipe %>
          </div>
        <% else %>
          <%= image_tag "heart.png", class:"iine_im" %>
            <%= @recipe.likes.count %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
<% if  current_user.id != @recipe.user_id  %>
<div class="show_body">
  <div class="shw_d shw_i">
    <div class="sho_t">
      <span>このレシピのコメントや感想を伝えよう！</span>
    </div>
    <div class="comment_form">
      <%= form_with(model: [@recipe, @comment], local: true) do |f| %>
      <div class="commnet_area">
        <div class=comment>
          <%= f.text_area :text ,placeholder: "例)簡単で美味しかったです", class: :com %>
        </div>
        <div class="comment_submit">
          <%= f.submit "感想を送る", class: :sbt_text%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% else %>
<div class="show_body">
  <div class="shw_d shw_i">
    <div class="sho_t">
      <span>コメント一覧</span>
    </div>
    <ul class="comments_lists">
      <% @comments %>
        <% @comments.each do |comment|  %>
          <li class="comments_list">
            <%= link_to  comment.user.nickname, "/users/#{comment.user_id}", class: :comment_user %>
          </li>
          <li class="comments_text">
            <%= comment.text %>
          </li>
          <li class="comment_time">
            <%= time_ago_in_words(comment.created_at).upcase %><span>前</span>
          </li>
        <% end %>
    </ul>
  </div>
</div>
<% end %>
<% end %>
<div class="hens_des">
  <% if user_signed_in? %>
    <% if  current_user.id == @recipe.user_id %>
      <div class="hens_body">
        <%= link_to(edit_recipe_path(@recipe.id), method: :get) do %>
          <div class="hens">
            <p>レシピを編集</p>
          </div>
        <% end %>
        <%= link_to(recipe_path(@recipe.id), method: :delete) do %>
          <div class="des">
            <p>削除</p>
        </div>
      <% end %>
    <% else %>
    <% end %>
</div>
  <% end %>

<%= render "shared/footer" %>
