
<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="iine_body">
  <div class="iine_bo">
    <div class="iine_bo2">
      <div class="iine_name">
        <%=link_to user_path(visitor) do %>
          <%= visitor.nickname %><span>さんが</span>
        <% end %>
      </div>
        <div class="iine_re">
          <% case notification.action %>
          <% when 'like' then %>
          <%= link_to notification.recipe.title, notification.recipe %>
        </div>
        <span>にいいねをしました。</span>
        <div class="iine_ti">
          <%= time_ago_in_words(notification.created_at).upcase  %><span>前</span>
        </div>
        <div class="iine_re">
          <% when 'follow' then %>
          <span>あなたをフォローしました。<%= time_ago_in_words(notification.created_at).upcase  %>前</span>
          <% end %>
        </div>
    </div>
  </div>
</div>
