<%= render "shared/header" %>

<div class="yumy">
  <div class="yuti">
    <div class="yuimti">
      <div class="yuim">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "recipe-img user_img" %>
        <% else %>
        <%= image_tag("default.png", class: "recipe-img user_img") %>
        <% end %>
      </div>
      <div class="pro">
        <div class="frow">
          <h6>フォロワー</h6>
          <div class=frow_in>
            <%= @user.followers.count %>
          </div>
        </div>
        <div class="fro">
          <h6>フォロー</h6>
          <div class=frow_in>
            <%= @user.followings.count %>
          </div>
        </div>
        <div class="reciin">
          <h6>レシピ数</h6>
          <div class=frow_in>
          <%= @user.recipes.count %>
          </div>
        </div>
      </div>
    </div>
    <div class="yuname"><%= @user.nickname %>さんの情報</div>
    <ul class="yupul">
      <li>
        <i class="fas fa-user"></i>
        <%= link_to "プロフィール"%>
      </li>
      <li>
        <i class="fab fa-gratipay"></i>
        <% if user_signed_in? %>
          <% if current_user != @user %>
            <% if @user.followed_by?(current_user) %>
              <%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %>
            <% else %>
              <%=link_to "フォローする", user_relationships_path(@user.id), method: :post %>
            <% end %>
          <% end %>
        <% end %>
      </li>
      <li>
        <i class="fas fa-arrow-circle-left"></i>
        <%= link_to "戻る", root_path %>
      </li>
    </ul>
  </div>
  <div class="fol_body">
    <div class="fol_ti">
      <P><%= @user.nickname %>さんをフォローしている人（<%= @user.followers.count %>人）</p>
    </div>
    <div class="fol_yu">
      <div class="fol_yu_ti">
      <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
      <div class="fol_imgs">
        <div class="fol_img">
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar, class: "recipe-img user_img" %>
          <% else %>
            <%= image_tag("default.png", class: "recipe-img user_img") %>
          <% end %>
        </div>
          <div class="folnames">
            <div class="fol_name">
            <p><%= user.nickname %></p>
          </div>
          <div class="fol">
              <% if current_user != user %>
                <% if user.followed_by?(current_user) %>
                  <p><%=link_to "フォロー解除", user_relationships_path(user.id), method: :delete %></p>
                <% else %>
                  <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
          <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
