<%= render "shared/header" %>

<div class="new_recipe iine_list">
    <h2>・・・・お気に入りレシピ一覧・・・・</h2>
  </div>

<div class="yumy">
  <div class="yuti">
    <div class="yuname"><%= current_user.nickname %>さんのメニュー</div>
    <ul class="yupul">
      <li>
        <i class="fas fa-user"></i>
        <%= link_to "会員情報変更",edit_user_registration_path %>
      </li>
      <li>
        <i class="fas fa-arrow-circle-left"></i>
        <%= link_to "戻る", "/users/#{current_user.id}/mypege/" %>
      </li>
    </ul>
  </div>

  <div class="recipe_box rebo">
      <% current_user.like_recipes.each do |recipe| %>
        <div class="recipe_lists">
          <%= link_to recipe_path(recipe.id), method: :get do %>
            <div class='recipe-img-content'>
              <%= image_tag recipe.image, class: "recipe-img" %>
            </div>
            <div class='recipe-info'>
              <h3 class='item-name'>
                <%= recipe.user.nickname %>
              </h3>
              <div class="title">
                <%= recipe.title %>
              </div>
              <div class='day_iine'>
                <div class='day'>
                  <%= l recipe.created_at %>
                </div>
            <% end %>
                <div class='iine'>
                  <% if user_signed_in? %>
                <div id="recipe_<%= recipe.id %>">
                    <%= render 'recipes/recipe', recipe: recipe %>
                  </div>
                  <% else %>
                    <%= image_tag "heart.png", class:"iine_im" %>
                      <%= recipe.likes.count %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
