<%= render "shared/header" %>
<div class="new_recipe iine_list">
    <h2>・・・・<%= @user.nickname %>さんのマイページ・・・・</h2>
  </div>
<div class="yumy">
  <div class="yuti">
    <div class="yuname"><%= @user.nickname %>さんのメニュー</div>
    <ul class="yupul">
      <li>
        <i class="fas fa-user"></i>
        <%= link_to "会員情報変更",edit_user_registration_path %>
      </li>
      <li>
        <i class="fab fa-gratipay"></i>
        <%= link_to "お気に入りレシピ", likes_users_path %>
      </li>
      <li>
        <i class="fas fa-arrow-circle-left"></i>
        <%= link_to "戻る", root_path %>
      </li>
    </ul>
  </div>
    <%= render partial: 'user', locals: { user: @user } %>
</div>
<%= render "shared/footer" %>
