<%= render "shared/header" %>
<div class="new_recipe iine_list">
    <h2>・・・・<%= @user.nickname %>さんのマイページ・・・・</h2>
  </div>
<div class="yumy">
  <div class="yuti">
    <div class="yuimti">
      <div class="yuim">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "recipe-img user_img" %>
        <% else %>
          <%= image_tag("default.png", class: "recipe-img user_img") %>
        <% end %>
      </div>
      <div class="pro">
        <%=link_to followers_user_path(@user.id) do %>
          <div class="frow">
            <h6>フォロワー</h6>
            <div class=frow_in>
              <%= @user.followers.count %>
            </div>
          </div>
        <% end %>
        <%= link_to  following_user_path(@user.id) do %>
          <div class="fro">
            <h6>フォロー</h6>
            <div class=frow_in>
              <%= @user.following.count %>
            </div>
          </div>
        <% end %>
        <div class="reciin">
          <h6>レシピ数</h6>
          <div class=frow_in>
          <%= @user.recipes.count %>
          </div>
        </div>
      </div>
    </div>
    <div class="yuname"><%= @user.nickname %>さんのメニュー</div>
    <ul class="yupul">
      <li>
        <i class="fas fa-user"></i>
        <%= link_to "会員情報変更",edit_user_registration_path %>
      </li>
      <li>
        <i class="fab fa-gratipay"></i>
        <%= link_to "お気に入りレシピ", likes_users_path %>
      </li>
      <li>
        <i class="fas fa-arrow-circle-left"></i>
        <%= link_to "戻る",:back %>
      </li>
    </ul>
  </div>
    <%= render partial: 'user', locals: { user: @user } %>
</div>
<%= render "shared/footer" %>
