<%= render "shared/header" %>
<div class=yu_ti>
    <%= @user.nickname %>さんのマイレシピ一覧
</div>
<div class="yumy">
  <div class="yuti">
    <div class="yuname"><%= @user.nickname %>さんの情報</div>
    <ul class="yupul">
      <li>
        <i class="fas fa-user"></i>
        <%= link_to "プロフィール"%>
      </li>
      <li>
        <i class="fab fa-gratipay"></i>
        <%= link_to "フォローする" %>
      </li>
      <li>
        <i class="fas fa-arrow-circle-left"></i>
        <%= link_to "戻る", root_path %>
      </li>
    </ul>
  </div>
  <%= render partial: 'user', locals: { user: @user } %>
</div>
<%= render "shared/footer" %>
