<footer class="footer_body">
  <div class="o_menu">
    <div class="menu">
      <div class=fo_se>
        <div class="re_se">
          <h5>レシピをさがす</h5>
        </div>
        <ul class="re_me">
          <li>-カテゴリー</li>
          <li>-話題のレシピ</li>
          <li>-人気の検索キーワード</li>
          <li>-新着レシピ</li>
        </ul>
      </div>
      <div class="re_ka">
        <div class="re_ki">
          <h5>レシピを書く</h5>
        </div>
        <ul class="re_ka_me">
          <li><%= link_to"-レシピを書く",new_recipe_path %></li>
          <li>-レシピの書き方について</li>
        </ul>
      </div>
      <div class="osu">
        <div class="osu_ti">
          <h5>おすすめ</h5>
        </div>
        <ul class="osu_me">
          <li>-モバイルサービス</li>
          <li>-ニュース</li>
      </div>
      <div class="my">
        <div class="my_ti">
          <h5>あなたのページ</h5>
        </div>
        <ul class="my_me">
          <li><%= link_to "-ユーザー登録",new_user_registration_path %></li>
          <li><%= link_to "-ログイン",new_user_session_path %></li>
        </ul>
      </div>
    </div>
    <%= link_to("/") do %>
      <div class="logo logo2">
        <%= "LOGO" %>
      </div>
    <% end %>
  </div>
</footer>
